{% extends "layout.html" %}

{% block title %}Snake Pit | Survey List{% endblock title %}

{% block content %}
        <h2 align="center">Select a Survey Category</h2>
        <div id="windowDiv">
            <div id="MarginsTop" style="height: 0px;" class="row"></div>
            <div id="bodyContainer" style="width:100%">
                <div class="simblaEL containerHolder" data-drag="P0" id="P0" style="position: relative;">
                    <a class="simblaEL anchorElm" data-drag="divCounter" name="Content0" id="Content0" data-id="58b5055067e738065f3fba66"></a>
                    <div class="container-fluid" data-border-type="All" style="border-radius: 0px; padding-bottom: 70px; padding-top: 20px;">
                        <div class="simblaEL containerHolder" data-drag="P2" id="P2">
                            <div class="container">
                                <div class="row simblaEL rDivider" data-drag="P10" id="P10" style="position: relative; padding-bottom: 40px;">
                                    <div class="sDivider col-md-3 index0" data-colsize="3">
                                        <div class="row simblaEL rDivider" data-drag="P12" id="P12" style="position: relative; padding-bottom: 20px;">
                                            <div class="sDivider col-md-12 index0" data-colsize="12"></div>
                                        </div>
                                        <div class="simblaEL simblaImg" data-drag="P14" id="P14" style="">
                                            <img draggable="false" class="" alt="Football-black-and-white-football-clipart-black-and-white-tusc-visualdnsnet.png" data-id="" title="Football-black-and-white-football-clipart-black-and-white-tusc-visualdnsnet.png" data-border-type="All" style="border-radius: 150px;" width="120" src="./Take_Survey_files/24326-mb1e24.png">
                                        </div></div>
                                    <div class="sDivider col-md-9 index1" data-colsize="9">
                                        <div class="row simblaEL rDivider" data-drag="P16" id="P16">
                                            <div class="sDivider col-md-10 index0" data-colsize="10">
                                                <div class="simblaEL tcH" data-drag="P18" id="P18">
                                                    <div class="textContainer H2" style="cursor: text;">
                                                        <h2>
                                                            <div style="text-align: left;">
                                                                <span style="font-size: 22px; line-height: 1.1;">Sports</span>
                                                            </div>
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="simblaEL tc" data-drag="P20" id="P20">
                                                    <div class="textContainer" style="cursor: text;">
                                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sDivider col-md-2 index1" data-colsize="2"></div>
                                        </div>
                                        <div class="row simblaEL rDivider" data-drag="P22" id="P22" style="position: relative; padding-left: 0px; padding-top: 20px; padding-bottom: 30px;">
                                            <div class="sDivider col-md-1 index0" data-colsize="1">
                                                <a href="{% url 'surveys:take' %}">
                                                <button type="submit" class="simblaEL btn" data-drag="P97" id="P97">PROCEED</button>
                                                </a>
                                            </div>
                                            <div class="sDivider col-md-1 index1" data-colsize="1"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row simblaEL rDivider" data-drag="P32" id="P32" style="position: relative; padding-bottom: 40px;">
                                    <div class="sDivider col-md-3 index0" data-colsize="3">
                                        <div class="row simblaEL rDivider" data-drag="P34" id="P34" style="position: relative; padding-bottom: 20px;">
                                            <div class="sDivider col-md-12 index0" data-colsize="12"></div>
                                        </div>
                                        <div class="simblaEL simblaImg" data-drag="P36" id="P36" style="">
                                            <img draggable="false" class="" alt="59bbc76c44f6f64e1bdc1ccf31651344_-health-center-clip-art-health-symbols-clip-art_300-300.png" data-id="" title="59bbc76c44f6f64e1bdc1ccf31651344_-health-center-clip-art-health-symbols-clip-art_300-300.png" data-border-type="All" style="border-radius: 150px;" width="120" src="./Take_Survey_files/24326-125no28.png">
                                        </div>
                                    </div>
                                    <div class="sDivider col-md-9 index1" data-colsize="9">
                                        <div class="row simblaEL rDivider" data-drag="P38" id="P38">
                                            <div class="sDivider col-md-11 index0" data-colsize="11">
                                                <div class="simblaEL tcH" data-drag="P40" id="P40">
                                                    <div class="textContainer H2" style="cursor: text;">
                                                        <h2>
                                                            <div style="text-align: left;">Health</div>
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="simblaEL tc" data-drag="P42" id="P42">
                                                    <div class="textContainer" style="cursor: text;">
                                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sDivider col-md-1 index1" data-colsize="1"></div>
                                        </div>
                                        <div class="row simblaEL rDivider" data-drag="P44" id="P44" style="position: relative; padding-left: 0px; padding-top: 20px; padding-bottom: 30px;">
                                            <div class="sDivider col-md-1 index0" data-colsize="1">
                                                <a href="{% url 'surveys:take' %}">
                                                <button type="submit" class="simblaEL btn" data-drag="P98" id="P98">PROCEED</button>
                                            </div>
                                            <div class="sDivider col-md-1 index1" data-colsize="1"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row simblaEL rDivider" data-drag="P54" id="P54" style="position: relative; padding-bottom: 40px;">
                                    <div class="sDivider col-md-3 index0" data-colsize="3">
                                        <div class="row simblaEL rDivider" data-drag="P56" id="P56" style="position: relative; padding-bottom: 20px;">
                                            <div class="sDivider col-md-12 index0" data-colsize="12"></div>
                                        </div>
                                        <div class="simblaEL simblaImg" data-drag="P58" id="P58">
                                            <img draggable="false" class="" alt="" data-id="" title="" data-border-type="All" style="border-radius: 150px;" width="120" src="./Take_Survey_files/24326-7sqfce.png">
                                        </div>
                                    </div>
                                    <div class="sDivider col-md-9 index1" data-colsize="9">
                                        <div class="row simblaEL rDivider" data-drag="P60" id="P60">
                                            <div class="sDivider col-md-11 index0" data-colsize="11">
                                                <div class="simblaEL tcH" data-drag="P62" id="P62">
                                                    <div class="textContainer H2" style="cursor: text;">
                                                        <h2><div style="text-align: left;">Media</div></h2>
                                                    </div>
                                                </div>
                                                <div class="simblaEL tc" data-drag="P64" id="P64">
                                                    <div class="textContainer" style="cursor: text;">
                                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sDivider col-md-1 index1" data-colsize="1"></div>
                                        </div>
                                        <div class="row simblaEL rDivider" data-drag="P66" id="P66" style="position: relative; padding-left: 0px; padding-top: 20px; padding-bottom: 30px;">
                                            <div class="sDivider col-md-1 index0" data-colsize="1">

                                                <button type="submit" class="simblaEL btn" data-drag="P99" id="P99">PROCEED</button>
                                            </div>
                                            <div class="sDivider col-md-1 index1" data-colsize="1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}