{% extends "layout.html" %}

{% block title %} Snake Pit | About Us{% endblock title %}

{% block content %}
    

<!-- ##Team Picture and About the project## -->

    <center><img src="./assets/media/DePaulLogo.png" alt="Team Picture" style="width:300px;height:300px;"></center>

        <center><h1>Aboust Us</h1></center>

             <p><center>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</center></p>

<br>
    <!-- ##Roles and Names## -->
      <center><h2><u>Manager</u></h2><h3>Adam Gruszczynski</h3></center>
      <br>

        <center><h2><u>Algorithms</u></h2><h3>Head: Jonatho Gonzalez</h3><h3>Jacob Gasyna</h3></center>
        <br>

        <center><h2><u>Back End</u></h2><h3>Keaton Zonca</h3></center>
        <br>
            
        <center><h2><u>Front End</u></h2><h3>Head: David Keller</h3><h3>Wenchi "Evan" Sun</h3><h3>Aakif Khan</h3></center>


{% endblock content %}



