 {% extends "layout.html" %}

    {% block title %} Snake Pit | Home  {% endblock title %}

    {% block content %}
        <div style="height: 781px;">
            <div>
                <div>
                    <div>
                        <div >
                            <div >
                                <h2>
                                    <u>News</u>
                                </h2>
                            </div>
                        </div>
                        <div>
                            <div >
                                <h4>
                                    <u>Point of Interest</u>
                                </h4>
                            </div>
                        </div>
                        <div >
                            <div style="cursor: text;">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                        </div>
                        <div >
                            <div style="cursor: text;">
                                <h4>
                                    <u>Point of Interest</u>
                                </h4>
                            </div>
                        </div>
                        <div >
                            <div style="cursor: text;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div style="cursor: text;">
                                <h2>
                                    <div style="text-align: center;">
                                        <u>Trending Surveys</u>
                                    </div>
                                </h2>
                            </div>
                        </div>
                        <div >
                            <div style="cursor: text;">
                                <h4>
                                    <div style="text-align: center;">Survey #1</div>
                                </h4>
                            </div>
                        </div>
                        <div >
                            <div style="cursor: text;">
                                <p style="text-align: center;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.&nbsp;</p>
                            </div>
                        </div>
                        <div >
                            <div style="cursor: text;">
                                <h4>
                                    <div style="text-align: center;">Survey #2</div>
                                </h4>
                            </div>
                        </div>
                        <div >
                            <div style="cursor: text;">
                                <p style="text-align: center;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.&nbsp;</p>
                            </div>
                        </div>
                        <div >
                            <style="cursor: text;">
                                <h4>
                                    <div style="text-align: center;">Survey #3</div>
                                </h4>
                            </div>
                        </div>
                        <div >
                            <div style="cursor: text;">
                                <p style="text-align: center;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div style="cursor: text;">
                                <h2>
                                    <div style="text-align: right;">
                                        <u>Take a Random Survey</u>
                                    </div>
                                </h2>
                            </div>
                        </div>
                        <div >
                            <div style="cursor: text;">
                                <p style="text-align: right;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                        </div>
                        <div>
                            <div style="cursor: text;">
                                <h2>
                                    <div style="text-align: right;">
                                        <u>Interesting Facts</u>
                                    </div>
                                </h2>
                            </div>
                        </div>
                        <div >
                            <div style="cursor: text;">
                                <p style="text-align: right;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}